<% layout('layouts/boilerplate') %>
<section class="overflow-hidden">
    <div class="flex min-h-screen overflow-hidden">
      <div class="relative flex-1 hidden w-0 overflow-hidden lg:block">
        <h2 class="mt-6 text-3xl font-extrabold text-neutral-600"> Create new wishlist </h2>
        <img class="absolute inset-0 object-cover w-full h-full bg-black" src="/img/couples.jpeg" alt="">
      </div>
      <div class="
    flex flex-col
    justify-center
    flex-1
    px-4
    py-12
    overflow-hidden
    sm:px-6
    lg:flex-none lg:px-20
    xl:px-24
  ">
        <div class="w-full max-w-xl mx-auto lg:w-96">
          <div>
            <h2 class="mt-6 text-3xl font-extrabold text-neutral-600"> Create new wishlist </h2>
          </div>
          <div class="mt-8">
            <div class="mt-6">
                <form action="/wishlists/new" class="space-y-6" method="POST" >
                    <div>
                        <label for="name" class="block text-sm font-medium text-neutral-600"> Name your wishlist</label>
                        <div class="mt-1">
                          <input id="name" name="wishlist[name]" type="text" placeholder="Name your wishlist" class="
                        block
                        w-full
                        px-5
                        py-3
                        text-base text-neutral-600
                        placeholder-gray-300
                        transition
                        duration-500
                        ease-in-out
                        transform
                        border border-transparent
                        rounded-lg
                        bg-gray-50
                        focus:outline-none
                        focus:border-transparent
                        focus:ring-2
                        focus:ring-white
                        focus:ring-offset-2
                        focus:ring-offset-gray-300
                      " required>
                        </div>
                      </div>
                      <button class="
                flex
                items-center
                justify-center
                w-full
                px-10
                py-4
                text-base
                font-medium
                text-center text-white
                transition
                duration-500
                ease-in-out
                transform
                bg-red-600
                rounded-xl
                hover:bg-red-700
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-blue-500
              "> SAVE </button>
                    </form> 

             
                  
                </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



<!--Designing-->

<section>
  <div class="px-4 py-12 mx-auto">
    <div class="max-w-4xl pt-24 mx-auto">
      <div class="relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-black"></div>
        </div>
        <div class="relative flex justify-start">
          <span class="pr-3 text-lg font-medium text-neutral-600 bg-white"> All wishlists</span>
        </div>
      </div>
      <% for(let wishlist of wishlists){ %>
<a href="/wishlists/<%= wishlist._id %>" class="flex flex-col items-center bg-white border rounded-lg shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
  <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="/img/couples.jpeg" alt="">
  <div class="flex flex-col justify-between p-4 leading-normal">
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= wishlist.name %> </h5>
  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Kindly, click to view and add items to your wishlist</p>
  </div>
  </a>
  <% } %> 
      
      

</div>
</div>
</section>

