<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css"
</head>
<body>
    <!--Header-->
    <div class="bg-indigo-700 p-4 flex justify-between items-center">
        <!--Right Side-->
        <div class="flex items-center">
            <img src="/img/logo.png" width="50" alt="Logo">
            <a href="/" class="text-gray-400 hover:text-gray-50">Home</a>
            <a href="/" class="text-gray-400 hover:text-gray-50">About</a>
        </div>
        <!--Left Side-->
        <div>
        <a href="/">Log in</a>
        <a href="/">Sign up</a>
        </div>
    </div>
    <!--Hero Section-->
<div class="bg-gray-100 flex space-around">
    <div>
        <h2>Welcome</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, corrupti delectus doloremque beatae exercitationem rerum vero, est eligendi nulla expedita nisi veritatis facere minus maiores. Nemo blanditiis a ab cumque.</p>
    </div>
    <div>
        <button>Click</button>
        <button>Google</button>
    </div>
</div>
    <!--Features-->

    <!--Footer & Newsletter-->
</body>
</html>